body{
    background-color:rgb(10, 82, 85);
}
h1{
    font-size:38px;
}
input[type=text]{
    width: 30%;
    padding:12px 20px;
    margin:5px 0px;
    box-sizing: border-box;
    border:none;
    border-radius:25px;
    background-color:rgb(74, 97, 138);
    color:rgb(10, 10, 10);
    font-family:Arial, Helvetica, sans-serif;
}
input[type=submit]{
    background-color:rgb(74, 97, 138);
    border:none;
    color:black;
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    margin-left:4px 2px;
    border-radius:15px;
    font-family:Arial,Helvetica,sans-serif;
    margin-left:22px;
}
select{
    width:15%;
    padding:12px 20px;
    margin:8px 0;
    box-sizing:border-box;
    border:none;
    border-radius:15px;
    background-color:rgb(74, 97, 138);
    color:rgb(10, 10, 10);
    font-family:Arial,Helvetica, sans-serif;

}
